.btn {
    border: none;
    border-radius: 6px;
    font-family: var(--font-main);
    font-weight: var(--weight-medium);
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;

    &--sm {
        font-size: 16px;
        padding: 12px 24px;
    }

    &--md {
        padding: 16px 28px;
    }

    &--lg {
        padding: 18px 36px;
    }

    &--primary {
        color: var(--color-contrast);
        background: var(--color-primary);
    }

    &--outline {
        border: 3px solid var(--color-primary);
        background: transparent;
        color: var(--color-primary);
    }

    &--glass {
        background-color: rgba(0, 0, 0, 0.2);
        background-image: linear-gradient(rgba(255,255,255,0.1), rgba(35,35,35,0.6));
        color: var(--color-primary);
    }

    &--disabled {
        background-color: var(--color-secondary);
        color: var(--color-contrast);
        pointer-events: none;
    }
}
