.bg-image {
    height: 500px;
    background:  linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(../../assets/myke-simon-atsUqIm3wxo-unsplash-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(8px);
    transform: scale(1.03);
    flex-grow: 0;
}

.image-frame {
    overflow: hidden;
}

.container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    padding: 40px;
    height: 600px;
    max-width: 1600px;
    transform: translateX(-50%);
}
