.background {
    background: var(--color-dark);
    width: 100vw;
    flex-grow: 2;
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    .container {
        width: var(--content-max-width);
        margin: 0 auto;
        flex-grow: 2;

        .menu-row {
            min-width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            z-index: 20;
        }

        .separator {
            border-top: 2px double var(--color-medium);
            min-width: 100%;
        }

        .inner {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50%;
            
            
            .no-movies-warn {
                display: inline-block;
                width: 1000px;
                margin: 40px auto;
                color: var(--color-contrast);
                font-family: var(--font-main);
                font-weight: var(--weight-light);
                font-size: 48px;
                line-height: 150%;
                letter-spacing: 3px;
                text-align: center;
            }
        }

        .inner-display {
            display: flex;
            flex-direction: column;
            z-index: 10;
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

